@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}
@theme {
  --animate-fade: fade 1s linear infinite alternate;

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
* {
  scroll-behavior: smooth;
}

button {
  background-color: #34b51c;
  color: white;
  transition: all 0.3s ease-out;
}

.wavy {
  background: #34b51c;
  position: relative;
  clip-path: polygon(
    0% 15%,
    10% 20%,
    20% 15%,
    30% 20%,
    40% 15%,
    50% 20%,
    60% 15%,
    70% 20%,
    80% 15%,
    90% 20%,
    100% 15%,
    100% 100%,
    0% 100%
  );
}

.wavy-bottom {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 85%,
    90% 90%,
    80% 85%,
    70% 90%,
    60% 85%,
    50% 90%,
    40% 85%,
    30% 90%,
    20% 85%,
    10% 90%,
    0% 85%
  );
}

.custom-btn:hover {
  border-color: #34b51c !important; /* darker green */
  color: #34b51c !important;
}

@layer base {
  body {
    @apply font-sans bg-n-8 text-n-1 text-base;
  }
}

.rotate-45 {
  @apply rotate-[45deg];
}

.rotate-90 {
  @apply rotate-[90deg];
}

.rotate-135 {
  @apply rotate-[135deg];
}

.rotate-180 {
  @apply rotate-[180deg];
}

.rotate-225 {
  @apply rotate-[225deg];
}

.rotate-270 {
  @apply rotate-[270deg];
}

.rotate-315 {
  @apply rotate-[315deg];
}

.rotate-360 {
  @apply rotate-[360deg];
}

.-rotate-45 {
  @apply rotate-[-45deg];
}

.-rotate-90 {
  @apply rotate-[-90deg];
}

.-rotate-135 {
  @apply rotate-[-135deg];
}

.-rotate-180 {
  @apply rotate-[-180deg];
}

.-rotate-225 {
  @apply rotate-[-225deg];
}

.-rotate-270 {
  @apply rotate-[-270deg];
}

.-rotate-315 {
  @apply rotate-[-315deg];
}

.-rotate-360 {
  @apply rotate-[-360deg];
}

.checkout.disabled,
.checkout:disabled {
  background: #d9d9d9;
  color: #999;
  cursor: not-allowed;
}

.checkout:disabled:hover {
  background: #d9d9d9;
}
